@charset "UTF-8";
@font-face {
  font-family: "travels";
  src: url("../fonts/TTTravels-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "travels";
  src: url("../fonts/TTTravels-DemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "travels";
  src: url("../fonts/TTTravels-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "travels";
  src: url("../fonts/TTTravels-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "travels";
  src: url("../fonts/TTTravels-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body,
main,
a,
p {
  font-family: "travels";
  margin: 0;
  padding: 0;
  position: relative;
  color: #404040;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 76px;
  line-height: 110%;
  color: #404040;
  font-weight: 400;
  margin: 30px 0;
}

h2 {
  margin: 0;
}

.main-slider,
#advantages {
  padding-bottom: 73px;
}

#how-we-clean {
  padding-top: 75px;
}

main {
  position: relative;
  height: 100%;
}

.main-header {
  position: absolute;
  z-index: 10;
  padding: 22px 0;
  width: 100%;
}

.main-logo {
  padding-left: 8px;
  padding-right: 25px;
}

.toolbar {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  position: fixed;
}

.slider-btn {
  position: relative;
}
.slider-btn:after {
  content: " ";
  width: 105%;
  height: 100%;
  background-color: #F3F6FB;
  display: inline-block;
  position: absolute;
  left: -3px;
  z-index: -2;
  border-radius: 34px;
}
.slider-btn .btn {
  border: none;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}
.slider-btn input[type=radio].toggle {
  display: none;
}
.slider-btn input[type=radio].toggle + label {
  cursor: pointer;
  width: 40px;
}
.slider-btn input[type=radio].toggle + label:hover {
  background: none;
}
.slider-btn input[type=radio].toggle + label:after {
  background: #5A30F0;
  content: "";
  height: 90%;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
  border-radius: 34px;
}
.slider-btn input[type=radio].toggle.toggle-left + label {
  border-right: 0;
}
.slider-btn input[type=radio].toggle.toggle-left + label:after {
  left: 100%;
}
.slider-btn input[type=radio].toggle.toggle-right + label {
  margin-left: -5px;
}
.slider-btn input[type=radio].toggle.toggle-right + label:after {
  left: -100%;
}
.slider-btn input[type=radio].toggle:checked + label {
  cursor: default;
  color: #fff;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.slider-btn input[type=radio].toggle:checked + label:after {
  left: 0;
}

.main-menu .main-navigation .main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 43px;
  margin-top: 0;
  margin-bottom: 0;
}
.main-menu .main-navigation .main-list a {
  font-weight: 500;
  padding: 0 16px;
  font-size: 16px;
}

.header-contacts {
  margin-left: 51px;
  margin-right: 38px;
}
.header-contacts a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.2px;
}
.header-contacts a::after {
  content: " ";
  width: 1.5px;
  height: 14px;
  background-color: #404040;
  display: inline-block;
  margin: 0 15px;
}
.header-contacts p {
  font-size: 16px;
  font-weight: 600;
}

#hamburger-icon {
  width: 20px;
  height: 10px;
  position: relative;
  display: block;
}
#hamburger-icon .line {
  display: block;
  background: #404040;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
}
#hamburger-icon .line.line-1 {
  top: 0;
}
#hamburger-icon .line.line-2 {
  top: 50%;
}

.main-slider .room-text {
  max-width: 380px;
  padding-left: 155px;
}
.main-slider .room-text p {
  font-size: 18px;
  line-height: 140%;
}

.main-slider {
  max-width: 1440px;
  margin: 0 auto;
}

#advantages .adv-item {
  max-width: 300px;
}
#advantages .adv-item .adv-content {
  position: relative;
  background-color: #F3F6FB;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  min-height: 316px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#advantages .adv-item .adv-content .advantages-content-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#advantages .adv-item .adv-content .advantages-content-block p {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-align: left;
  padding: 30px;
}
#advantages .adv-item .adv-content:hover {
  background-color: #5A30F0;
}
#advantages .adv-item .adv-content:hover .advantages-content-block {
  opacity: 1;
}
#advantages .adv-item .adv-content:hover .adv-img img {
  opacity: 0;
}
#advantages .adv-item .adv-content:hover .adv-title {
  opacity: 0;
}
#advantages .adv-item .adv-content .adv-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  padding: 20px 40px 52px 40px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#advantages .adv-item .adv-content .adv-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#advantages .adv-item .adv-content img {
  position: absolute;
  bottom: 0;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#advantages .adv-item .adv-content .img-adv-1 {
  margin-left: -75.5px;
  width: 151px;
}
#advantages .adv-item .adv-content .img-adv-2 {
  margin-left: -94px;
  width: 188px;
}
#advantages .adv-item .adv-content .img-adv-3 {
  margin-left: -105.5px;
  width: 211px;
}
#advantages .adv-item .adv-content .img-adv-4 {
  margin-left: -100.5px;
  width: 201px;
}
#advantages .animate-item.active-anim .adv-item {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
#advantages .animate-item.active-anim .adv-item:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#advantages .animate-item.active-anim .adv-item:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
#advantages .animate-item.active-anim .adv-item:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
#advantages .animate-item.active-anim .adv-item:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}
#advantages .animate-item .adv-item {
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#how-we-clean {
  position: relative;
}
#how-we-clean .left-navigation {
  height: 100vh;
  width: 375px;
  background: #5A30F0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
#how-we-clean .left-navigation .header-menu-left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  padding: 35px 53px;
}
#how-we-clean .left-navigation .menu-left {
  padding: 256px 0 0 60px;
}
#how-we-clean .left-navigation .menu-left .menu-left-item {
  padding-bottom: 22px;
  position: relative;
  cursor: pointer;
}
#how-we-clean .left-navigation .menu-left .menu-left-item .classic,
#how-we-clean .left-navigation .menu-left .menu-left-item .italic {
  font-size: 44px;
  line-height: 120%;
  color: #fff;
  opacity: 0.7;
  font-style: normal;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#how-we-clean .left-navigation .menu-left .menu-left-item .italic {
  opacity: 0;
  font-style: italic;
  position: absolute;
  left: 0;
}
#how-we-clean .left-navigation .menu-left .menu-left-item:hover .classic {
  opacity: 0;
}
#how-we-clean .left-navigation .menu-left .menu-left-item:hover .italic {
  opacity: 1;
}
#how-we-clean .left-navigation .menu-left .item-active .classic {
  opacity: 0;
}
#how-we-clean .left-navigation .menu-left .item-active .italic {
  opacity: 1 !important;
  font-style: italic;
}
#how-we-clean .left-navigation .menu-left .item-active .italic::before {
  content: "→";
  font-size: 44px;
  line-height: 120%;
  color: #fff;
  display: inline-block;
  padding-right: 10px;
}
#how-we-clean #content-how-clean {
  position: relative;
  height: calc(100vh - 122px);
}
#how-we-clean #content-how-clean .head-text {
  width: 100%;
  top: 0;
  left: 0;
  max-width: 1094px;
  margin: 0 auto;
  padding-bottom: 100px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
#how-we-clean #content-how-clean .head-text .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
#how-we-clean #content-how-clean .head-text .about-clean {
  max-width: 414px;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
#how-we-clean #content-how-clean .head-text h2 {
  font-size: 44px;
  line-height: 120%;
  font-weight: normal;
}
#how-we-clean #content-how-clean .how-we-clean-img img {
  max-width: 1094px;
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 1094px / 2);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
#how-we-clean.animate-footer.active-anim .left-navigation {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
#how-we-clean.animate-footer.active-anim .head-text {
  -webkit-transform: translate(0px, -200%);
          transform: translate(0px, -200%);
}
#how-we-clean.animate-footer.active-anim .how-we-clean-img img {
  left: 365px !important;
  position: fixed !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

#btn-order-clean {
  position: fixed;
  bottom: 10px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#btn-order-clean .btn-container {
  display: block;
  margin: 0 auto;
  width: 195px;
  height: 195px;
  background: #5A30F0;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
#btn-order-clean .btn-container span {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  max-width: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  line-height: 130%;
}
#btn-order-clean .btn-scale {
  width: 175px;
  height: 175px;
}

.transformScale {
  -webkit-transform: scale(0);
          transform: scale(0);
}