@font-face {
    font-family:'travels';
    src: url('../fonts/TTTravels-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'travels';
    src: url('../fonts/TTTravels-DemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;

}

@font-face {
    font-family:'travels';
    src: url('../fonts/TTTravels-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;

}

@font-face {
    font-family:'travels';
    src: url('../fonts/TTTravels-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;

}

@font-face {
    font-family:'travels';
    src: url('../fonts/TTTravels-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}