@media screen and (max-width: 1490px) {

    #how-we-clean .left-navigation {
        width: 275px;
    }

    #how-we-clean .left-navigation .menu-left .menu-left-item .classic, #how-we-clean .left-navigation .menu-left .menu-left-item .italic {
        font-size: 30px;
    }

    #how-we-clean .left-navigation .menu-left .item-active .italic::before {
        font-size: 24px;
    }

    #how-we-clean.animate-footer.active-anim #content-how-clean .how-we-clean-img img, .animate-footer.active-anim .map-interactive {
        left: 145px;
        width: 100%;
    }

}

@media screen and (max-width: 1379px) {

    .main-menu .main-navigation .main-list {
        margin-left: 0;
    }

}

@media screen and (max-width: 1336px) {

    .main-menu {
        display: none;
    }

}

@media screen and (max-width: 1269px) {

    .adv-container {
        justify-content: center;
    }
    #how-we-clean.animate-footer.active-anim #content-how-clean .how-we-clean-img img, .animate-footer.active-anim .map-interactive {
        left: 0px;
        width: 100%;
    }

}


@media screen and (max-width: 1129px) {

    .main-slider .room-text {
        padding-left: 35px;
    }

}

@media screen and (max-width: 1099px) {

    #how-we-clean.animate-footer.active-anim #content-how-clean .how-we-clean-img img, .animate-footer.active-anim .map-interactive {
        height: auto;
    }

}

@media screen and (max-width: 990px) {

    #how-we-clean .left-navigation {
        width: 100%;
        max-height: 150px;
    }
    #how-we-clean .left-navigation .header-menu-left p {
        padding: 35px 0 0 35px;
    }
    #how-we-clean .left-navigation .menu-left {
        padding: 15px 35px;
        display: flex;
        justify-content: space-between;
    }
    #how-we-clean .left-navigation .menu-left .item-active .italic::before {
        display: none;
    }
    #how-we-clean.animate-footer.active-anim .left-navigation {
        z-index: 999999999999;
    }

}


@media screen and (max-width: 799px) {

    .main-slider .room-text .text-banner {
        font-size: 45px;
    }

}

@media screen and (max-width: 719px) {

    .main-slider .room-img {
        height: 350px;
        max-width: 100%;
        width: 100%;
        overflow: hidden;

        img {
            position: absolute;
            bottom: -60%;
        }
    }

    .main-slider .room-text {
        max-width: 100%;
    }

}

@media screen and (max-width: 615px) {

    .slider-btn {
        display: none;
    }
    #advantages .adv-item .adv-content .adv-title {
        font-size: 18px;
    }
    #advantages .adv-item .adv-content {
        min-height: 250px;
    }

    #how-we-clean{
        display: none;
    }

}

@media screen and (max-width: 505px) {

    .main-slider .room-img {
        img {
            position: absolute;
            bottom: -30%;
        }
    }

    .header-contacts {
        display: none;
    }

    .main-slider .room-text,  #how-we-clean #content-how-clean .head-text {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-slider .room-text .text-banner {
        font-size: 30px;
    }

    .main-slider .room-text p {
        font-size: 15px;
    }

    #btn-order-clean {}
}

@media screen and (max-width: 410px) {

    .main-slider .room-img {
        img {
            position: absolute;
            bottom: 0%;
        }
    }
}

@media screen and (max-width: 400px) {

    main {
        width: 100%;
    }

}

@media screen and (max-width: 319px) {

    .main-slider .room-img {
        height: 280px;
    }

}