@import "_fonts";
@import "_const";

.container {
    max-width: 1440px;
}
.row {
    display: flex;
}

body, main {
    font-family:'travels';
    margin: 0;
    padding: 0;
    position: relative;
    color: $color-main;
}

//..........Header

.main-header {
    position: absolute;
    z-index: 10;
    padding: 22px 54px;
    
}