@import "_fonts";
@import "_const";

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.justify {
    justify-content: space-between;
    align-items: stretch;
}

body,
main,
a,
p {
    font-family: 'travels';
    margin: 0;
    padding: 0;
    position: relative;
    color: $color-main;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 76px;
    line-height: 110%;
    color: $color-main;
    font-weight: 400;
    margin: 30px 0;
}

h2 {
    margin: 0;
}

.main-slider,
#advantages {
    padding-bottom: 73px;
}

#how-we-clean {
    padding-top: 75px;
}

main {
    position: relative;
    height: 100%;
}

//..........Header............


.main-header {
    position: absolute;
    z-index: 10;
    padding: 22px 0;
    width: 100%;

    .main-logo-btn, .contacts-container {
        display: flex;
    }

    .header-top {
       justify-content: space-between; 
    }

}

.main-logo {
    padding-left: 8px;
    padding-right: 25px;
}

.toolbar {
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
    position: fixed;
}

//Btn header
.slider-btn {
    position: relative;


    &:after {
        content: " ";
        width: 105%;
        height: 100%;
        background-color: $color-bg;
        display: inline-block;
        position: absolute;
        left: -3px;
        z-index: -2;
        border-radius: 34px;
    }

    .btn {
        border: none;
        display: inline-block;
        padding: 10px;
        position: relative;
        text-align: center;
        transition: background 600ms ease, color 600ms ease;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;

    }

    input[type="radio"].toggle {
        display: none;

        &+label {
            cursor: pointer;
            width: 40px;

            &:hover {
                background: none;

            }

            &:after {
                background: $color-purple;
                content: "";
                height: 90%;
                position: absolute;
                top: 2px;
                left: 2px;
                transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
                width: 100%;
                z-index: -1;
                border-radius: 34px;
            }
        }

        &.toggle-left+label {
            border-right: 0;

            &:after {
                left: 100%
            }
        }

        &.toggle-right+label {
            margin-left: -5px;

            &:after {
                left: -100%;
            }
        }

        &:checked+label {
            cursor: default;
            color: $color-white;
            transition: color 200ms;

            &:after {
                left: 0;
            }
        }
    }
}

//main menu

.main-menu {
    .main-navigation {
        .main-list {
            display: flex;
            margin-left: 43px;
            margin-top: 0;
            margin-bottom: 0;

            a {
                font-weight: 500;
                padding: 0 16px;
                font-size: 16px;
            }
        }
    }
}

//contacts header
.header-contacts {
    margin-left: 51px;
    margin-right: 38px;

    a {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.2px;

        &::after {
            content: " ";
            width: 1.5px;
            height: 14px;
            background-color: $color-main;
            display: inline-block;
            margin: 0 15px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 600;
    }
}

//hamburger
#hamburger-icon {
    width: 20px;
    height: 10px;
    position: relative;
    display: block;

    .line {
        display: block;
        background: $color-main;
        width: 20px;
        height: 2px;
        position: absolute;
        left: 0;

        &.line-1 {
            top: 0;
        }

        &.line-2 {
            top: 50%;
        }
    }
}

//..........Slider............

.main-slider {

    max-width: 1440px;
    margin: 0 auto;

    .room-text {
        max-width: 380px;
        padding-left: 155px;
        box-sizing: border-box;

        p {
            font-size: 18px;
            line-height: 140%;
        }
    }

    .room-img, .room-text  {
        max-width: 50%;
        position: relative;
    }

    .room-img {
        img {
            width: 100%;
        }
    }

}

//..........Advantages............

#advantages {
    .adv-item {
        max-width: 300px;


        .adv-content {
            position: relative;
            background-color: $color-bg;
            height: 100%;
            text-align: center;
            border-radius: 8px;
            min-height: 316px;
            transition: all 0.5s ease;

            .advantages-content-block {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                opacity: 0;
                transition: all 0.5s ease;

                p {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    color: $color-white;
                    text-align: left;
                    padding: 30px;
                }
            }

            &:hover {
                background-color: $color-purple;

                .advantages-content-block {
                    opacity: 1;
                }

                .adv-img img {
                    opacity: 0;
                }

                .adv-title {
                    opacity: 0;
                }
            }

            .adv-title {
                font-size: 24px;
                font-weight: 500;
                line-height: 130%;
                text-align: center;
                padding: 20px 40px 52px 40px;
                opacity: 1;
                transition: all 0.3s ease;
            }

            .adv-img {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

            }

            img {

                position: absolute;
                bottom: 0;
                opacity: 1;
                transition: all 0.3s ease;
            }

            .img-adv-1 {
                @include absolute-width(151px);
            }

            .img-adv-2 {
                @include absolute-width(188px);
            }

            .img-adv-3 {
                @include absolute-width(211px);
            }

            .img-adv-4 {
                @include absolute-width(201px);
            }
        }
    }

    .animate-item {
        &.active-anim .adv-item {
            opacity: 1;
            transform: translate(0px, 0px);

            &:nth-child(1) {
                transition: all 0.8s ease 0s;
            }

            &:nth-child(2) {
                transition: all 0.8s ease 0.2s;
            }

            &:nth-child(3) {
                transition: all 0.8s ease 0.4s;
            }

            &:nth-child(4) {
                transition: all 0.8s ease 0.6s;
            }

        }


        .adv-item {
            overflow: hidden;
            opacity: 0;
            transform: translate(0px, 120%);
            transition: all 0.3s ease 0s;
        }
    }

}

//..........How-we-clean............

#how-we-clean {
    position: relative;

    .left-navigation {
        height: 100vh;
        width: 375px;
        background: #5A30F0;
        transition: all 1s ease 0s;
        transform: translate(-120%, 0px);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;


        .header-menu-left p {
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: $color-white;
            padding: 35px 53px;
        }

        .menu-left {
            padding: 256px 0 0 60px;

            .menu-left-item {
                padding-bottom: 22px;
                position: relative;
                cursor: pointer;

                .classic,
                .italic {
                    font-size: 44px;
                    line-height: 120%;
                    color: $color-white;
                    opacity: 0.7;
                    font-style: normal;
                    transition: 0.3s ease;
                }

                .italic {
                    opacity: 0;
                    font-style: italic;
                    position: absolute;
                    left: 0;
                }

                &:hover {
                    .classic {
                        opacity: 0;
                    }

                    .italic {
                        opacity: 1;
                    }

                }
            }

            .item-active {
                .classic {
                    opacity: 0;
                }

                .italic {
                    opacity: 1 !important;
                    font-style: italic;

                    &::before {
                        content: "→";
                        font-size: 44px;
                        line-height: 120%;
                        color: $color-white;
                        display: inline-block;
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    

    #content-how-clean {
        position: relative;
        // overflow: hidden;
        height: calc(100vh - 122px);

        .head-text {

            width: 100%;
            top: 0;
            left: 0;
            max-width: 1094px;
            margin: 0 auto;
            padding-bottom: 100px;
            transition: all 1s ease 0s;

            .row {
                justify-content: space-between;
                align-items: baseline;
            }

            .about-clean {
                max-width: 414px;
                font-weight: normal;
                font-size: 18px;
                line-height: 140%;
            }

            h2 {
                font-size: 44px;
                line-height: 120%;
                font-weight: normal;
            }
        }

        .how-we-clean-img {
            min-height: 630px;
            position: relative;
            overflow: hidden;
            img {
                max-width: 1094px;
                margin: 0 auto;
                height: 630px;
                display: block;
                position: absolute;
                bottom: 0px;
                left: calc(50% - 1094px / 2);
                transition: all .8s ease 0s;
        
            }
            .popup-block.popup-kitchen {

                
            }

            
            
        }
    }

    &.animate-footer.active-anim {

        .popup-block {
            display: block;
            
            .popup-item {
                background-color: #fff;
                padding: 8px 15px;
                border-radius: 2px;
                font-weight: 500;
                font-size: 13px;
                line-height: 130%;
                position: absolute;
                opacity: 0;
                display: inline-block;
                transition: all .2s ease-in-out 0s;
                &::before {
                    content: ' ';
                    width: 10px;
                    height: 10px;
                    background: #fff;
                    transform: rotate(45deg);
                    bottom: -5px;
                    display: block;
                    position: absolute;
                    left: 35px;
                } 
                
                &.open {
                    opacity: 1;
                    z-index: 999999; 
                }

            }
        }
        
      
        .left-navigation {
            transform: translate(0px, 0px);
        }

        .head-text {
            transform: translate(0px, -200%);
        }

        .how-we-clean-img {
            img {
                //top: 0 !important;
                left: 365px !important;
                max-width: 100% !important;
                height: 100vh !important;
                position: fixed !important;
            }
        }
        
    }
}
.map-interactive {
   display: none;
    transition: all .1s ease 1.5s;
}

.animate-footer.active-anim .map-interactive {
    display: block;
    position: fixed;
    z-index: 999;
    bottom: 0;
    height: 100%;
    left: 365px;

    .st2-hover {
        opacity: 0;
    }
    .plus-hover:hover .st2{
        opacity: 0;
    }
    
}


.popup-block {
    position: fixed;
    bottom: 0;
    left: 365px;
    display: none;
    height: 100%;
    width: 100%;
    //max-width: 1168px;
                
  [data-popup~="k-2"] {
        top: 35%;
        left: 45%;
    }
}

.st2-off .st2{
    opacity: 0 !important;
}



//..........Btn order............

#btn-order-clean {
    position: fixed;
    bottom: 10px;
    width: 100%;
    transition: all 0.3s ease 0s;


    .btn-container {
        display: block;
        margin: 0 auto;
        width: 195px;
        height: 195px;
        background: $color-purple;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease 0s;
        transform: rotate(-15deg);

        span {
            color: $color-white;
            font-weight: 500;
            font-size: 18px;
            max-width: 163px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            width: 100%;
            height: 100%;
            line-height: 130%;
        }
    }

    .btn-scale {
        width: 175px;
        height: 175px;
    }
    
}
.transformScale{
    transform: scale(0);
}